version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis_broker
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: flask_api
    # Use 'flask run' instead of 'python app.py'
    command: python -m flask run --host=0.0.0.0 --port=5000
   
    volumes:
      - .:/app
    ports:
      - "5001:5000"
    environment:
      - FLASK_APP=app.py
      - PYTHONUNBUFFERED=1 
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  worker:
    build: .
    container_name: celery_scraper
    # This stays the same as it correctly points to the celery object in app.py
    command: python -m celery -A app.celery worker --loglevel=info --concurrency=3
    volumes:
      - .:/app
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis